body {
  font-family: Lato;
  background-color: #1E824C;
  overflow-x: hidden; }

.top-menu {
  background-color: #E6E6E6;
  height: 40px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  border-radius: 6px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 3px; }
  .top-menu .listButton {
    margin: 0 auto; }
    .top-menu .listButton button {
      height: 34px;
      width: 50px; }
    .top-menu .listButton #all {
      background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
      color: orange;
      font-weight: bold;
      text-shadow: -2px -2px 0 #E6E6E6, -2px -1px 0 #E6E6E6, -2px 0px 0 #E6E6E6, -2px 1px 0 #E6E6E6, -2px 2px 0 #E6E6E6, -1px -2px 0 #E6E6E6, -1px -1px 0 #E6E6E6, -1px 0px 0 #E6E6E6, -1px 1px 0 #E6E6E6, -1px 2px 0 #E6E6E6, 0px -2px 0 #E6E6E6, 0px -1px 0 #E6E6E6, 0px 0px 0 #E6E6E6, 0px 1px 0 #E6E6E6, 0px 2px 0 #E6E6E6, 1px -2px 0 #E6E6E6, 1px -1px 0 #E6E6E6, 1px 0px 0 #E6E6E6, 1px 1px 0 #E6E6E6, 1px 2px 0 #E6E6E6, 2px -2px 0 #E6E6E6, 2px -1px 0 #E6E6E6, 2px 0px 0 #E6E6E6, 2px 1px 0 #E6E6E6, 2px 2px 0 #E6E6E6; }
    .top-menu .listButton #red {
      background-color: #D91E18; }
    .top-menu .listButton #green {
      background-color: #1E824C; }

.container {
  background-color: #E6E6E6;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px; }

.colorpicker {
  width: 75px;
  height: 50px;
  margin: 10px; }

.back-detail {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
  background-color: #000000;
  opacity: 0.5; }

#bound {
  width: 400px;
  height: 200px;
  margin: 0;
  padding: 0;
  display: block;
  z-index: 2040; }
  #bound #color-detail {
    display: block;
    position: relative;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    border-radius: 15px;
    margin: 0 auto;
    padding-top: 20px; }
    #bound #color-detail .btn-group {
      position: absolute;
      bottom: 0;
      left: 0;
      margin: 0;
      width: 400px;
      border-radius: 0 0 15px 15px; }
      #bound #color-detail .btn-group button {
        width: 199px; }
      #bound #color-detail .btn-group .btn-hex {
        border-radius: 0 15px 0 15px;
        margin-right: 2px; }
      #bound #color-detail .btn-group .btn-rgb {
        border-radius: 15px 0 15px 0; }

@-webkit-keyframes showColorDetail {
  0% {
    opacity: 0;
    width: 0;
    height: 0; }
  100% {
    opacity: 1;
    width: 400px;
    height: 200px; } }
@-moz-keyframes showColorDetail {
  0% {
    opacity: 0;
    width: 0;
    height: 0; }
  100% {
    opacity: 1;
    width: 400px;
    height: 200px; } }
@-ms-keyframes showColorDetail {
  0% {
    opacity: 0;
    width: 0;
    height: 0; }
  100% {
    opacity: 1;
    width: 400px;
    height: 200px; } }
@keyframes showColorDetail {
  0% {
    opacity: 0;
    width: 0;
    height: 0; }
  100% {
    opacity: 1;
    width: 400px;
    height: 200px; } }
@-webkit-keyframes hideColorDetail {
  0% {
    opacity: 1;
    width: 400px;
    height: 200px; }
  100% {
    opacity: 0;
    height: 0; } }
@-moz-keyframes hideColorDetail {
  0% {
    opacity: 1;
    width: 400px;
    height: 200px; }
  100% {
    opacity: 0;
    height: 0; } }
@-ms-keyframes hideColorDetail {
  0% {
    opacity: 1;
    width: 400px;
    height: 200px; }
  100% {
    opacity: 0;
    height: 0; } }
@keyframes hideColorDetail {
  0% {
    opacity: 1;
    width: 400px;
    height: 200px; }
  100% {
    opacity: 0;
    height: 0; } }
@-webkit-keyframes showColorButtonDetail {
  0% {
    opacity: 0;
    width: 0; }
  100% {
    opacity: 1;
    width: 199px; } }
@-moz-keyframes showColorButtonDetail {
  0% {
    opacity: 0;
    width: 0; }
  100% {
    opacity: 1;
    width: 199px; } }
@-ms-keyframes showColorButtonDetail {
  0% {
    opacity: 0;
    width: 0; }
  100% {
    opacity: 1;
    width: 199px; } }
@keyframes showColorButtonDetail {
  0% {
    opacity: 0;
    width: 0; }
  100% {
    opacity: 1;
    width: 199px; } }
@-webkit-keyframes hideColorButtonDetail {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@-moz-keyframes hideColorButtonDetail {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@-ms-keyframes hideColorButtonDetail {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes hideColorButtonDetail {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@-webkit-keyframes showBackDetail {
  0% {
    opacity: 0; }
  100% {
    opacity: 0.5; } }
@-moz-keyframes showBackDetail {
  0% {
    opacity: 0; }
  100% {
    opacity: 0.5; } }
@-ms-keyframes showBackDetail {
  0% {
    opacity: 0; }
  100% {
    opacity: 0.5; } }
@keyframes showBackDetail {
  0% {
    opacity: 0; }
  100% {
    opacity: 0.5; } }
@-webkit-keyframes hideBackDetail {
  0% {
    opacity: 0.5; }
  100% {
    opacity: 0; } }
@-moz-keyframes hideBackDetail {
  0% {
    opacity: 0.5; }
  100% {
    opacity: 0; } }
@-ms-keyframes hideBackDetail {
  0% {
    opacity: 0.5; }
  100% {
    opacity: 0; } }
@keyframes hideBackDetail {
  0% {
    opacity: 0.5; }
  100% {
    opacity: 0; } }
.hideDetail {
  -webkit-animation-delay: 0;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-name: hideColorDetail;
  -webkit-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -moz-animation-delay: 0;
  -moz-animation-duration: 0.5s;
  -moz-animation-name: hideColorDetail;
  -moz-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  animation-delay: 0;
  animation-duration: 0.5s;
  animation-name: hideColorDetail;
  animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */ }

.showDetail {
  -webkit-animation-delay: 0;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-name: showColorDetail;
  -webkit-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -moz-animation-delay: 0;
  -moz-animation-duration: 0.5s;
  -moz-animation-name: showColorDetail;
  -moz-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  animation-delay: 0;
  animation-duration: 0.5s;
  animation-name: showColorDetail;
  animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */ }

.hideButtonDetail {
  -webkit-animation-delay: 0;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-name: hideColorButtonDetail;
  -webkit-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -moz-animation-delay: 0;
  -moz-animation-duration: 0.5s;
  -moz-animation-name: hideColorButtonDetail;
  -moz-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  animation-delay: 0;
  animation-duration: 0.5s;
  animation-name: hideColorButtonDetail;
  animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */ }

.showButtonDetail {
  -webkit-animation-delay: 0;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-name: showColorButtonDetail;
  -webkit-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -moz-animation-delay: 0;
  -moz-animation-duration: 0.5s;
  -moz-animation-name: showColorButtonDetail;
  -moz-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  animation-delay: 0;
  animation-duration: 0.5s;
  animation-name: showColorButtonDetail;
  animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */ }

.hideBackDetail {
  -webkit-animation-delay: 0;
  -webkit-animation-duration: 0.1s;
  -webkit-animation-name: hideBackDetail;
  -webkit-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -moz-animation-delay: 0;
  -moz-animation-duration: 0.1s;
  -moz-animation-name: hideBackDetail;
  -moz-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  animation-delay: 0;
  animation-duration: 0.1s;
  animation-name: hideBackDetail;
  animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */ }

.showBackDetail {
  -webkit-animation-delay: 0;
  -webkit-animation-duration: 0.1s;
  -webkit-animation-name: showBackDetail;
  -webkit-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -moz-animation-delay: 0;
  -moz-animation-duration: 0.1s;
  -moz-animation-name: showBackDetail;
  -moz-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  animation-delay: 0;
  animation-duration: 0.1s;
  animation-name: showBackDetail;
  animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */ }

/*# sourceMappingURL=site.css.map */
