@import "variables";
@import "mixins";

@font-face {
    font-family: LatoFont;
    src: url(https://fonts.googleapis.com/css?family=Lato:300);
}

$all: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
body{
  font-family: LatoFont;
  background-color: $green;
  overflow-x: hidden;
}
.top-menu{
  background-color: $white;
  height: 40px;
  @include border-radius(6px);
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 3px;
  .listButton{
    margin: 0 auto;
    button{
      height: 34px;
      width: 50px;
    }
    #all{
      background: $all;
      color: orange;
      font-weight: bold;
      @include stroke(2,$white);
    }
    #red{
      background-color: $red;
    }
    #green{
      background-color: $green;
    }
  }

}
.container{
  background-color: $white;
  @include border-radius(10px);

}

//Style cho mỗi picker
.colorpicker{
  width: 75px;
  height: 50px;
  margin: 10px;
}

#bound{
  width: 400px;
  height: 200px;
  margin: 0;
  padding: 0;
  display: block;
  #color-detail{
    display: block;
    position: relative;
    @include border-radius(15px);
    margin: 0 auto;
    background-color: $blue;
    padding-top: 20px;
    .btn-group{
      position: absolute;
      bottom: 0;
      left: 0;
      margin: 0;
      width: 400px;
      border-radius: 0 0 15px 15px;
      button{
        width: 199px;
      }
      .btn-hex{
          border-radius: 0 15px 0 15px;
          margin-right: 2px;
      }
      .btn-rgb{
          border-radius: 15px 0 15px 0;
      }
    }
  }
}


@include keyframes(showColorDetail){
  0% {
        opacity: 0;
        width: 0;
        height: 0;
    }

    100% {
        opacity: 1;
        width: 400px;
        height: 200px;
    }
};
@include keyframes(hideColorDetail){
  0% {
        opacity: 1;
        width: 400px;
        height: 200px;
    }

    100% {
        opacity: 0;
        height: 0;
    }
};

@include keyframes(showColorButtonDetail){
  0% {
        opacity: 0;
        width: 0;
    }

    100% {
        opacity: 1;
        width: 199px;
    }
};
@include keyframes(hideColorButtonDetail){
  0% {
        opacity: 1;
    }

    100% {
        opacity: 0;        
    }
};

.hideDetail{
  @include animation(0, 0.5s, hideColorDetail);
}
.showDetail{
  @include animation(0, 0.5s, showColorDetail);
}

.hideButtonDetail{
  @include animation(0, 0.5s, hideColorButtonDetail);
}
.showButtonDetail{
    @include animation(0, 0.5s, showColorButtonDetail);
}
